<a href="https://colab.research.google.com/github/BrishavDebnath/AI-ML_LAB/blob/main/LAB_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Exp 3: Use the Ames housing dataset , handle the missing values, then detect outliers using IQR method, remove the outliers, test the Preprocessed data for remaining issues (fewer or no extreme outliers) , save the clean data for future analysis.**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
%cd /content/drive/MyDrive

/content/drive/MyDrive

In [3]:
df=pd.read_csv('AmesHousing.csv')

In [15]:
df[:]

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
0,1,526301100,20,RL,141.00000,31770,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,5,2010,WD,Normal,215000
1,2,526350040,20,RH,80.00000,11622,Pave,NaN,Reg,Lvl,...,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal,105000
2,3,526351010,20,RL,81.00000,14267,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal,172000
3,4,526353030,20,RL,93.00000,11160,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,244000
4,5,527105010,60,RL,74.00000,13830,Pave,NaN,IR1,Lvl,...,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal,189900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2925,2926,923275080,80,RL,37.00000,7937,Pave,NaN,IR1,Lvl,...,0,NaN,GdPrv,NaN,0,3,2006,WD,Normal,142500
2926,2927,923276100,20,RL,69.22459,8885,Pave,NaN,IR1,Low,...,0,NaN,MnPrv,NaN,0,6,2006,WD,Normal,131000
2927,2928,923400125,85,RL,62.00000,10441,Pave,NaN,Reg,Lvl,...,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal,132000
2928,2929,924100070,20,RL,77.00000,10010,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,4,2006,WD,Normal,170000
2929,2930,924151050,60,RL,74.00000,9627,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,11,2006,WD,Normal,188000

Warning: Total number of columns (82) exceeds max_columns (20) limiting to first (20) columns.
Warning: Total number of columns (82) exceeds max_columns (20) limiting to first (20) columns.

In [6]:
df.shape

(2930, 82)

We take three columns Lot Area, Lot frontage and SalePrice and fill the missing values

In [12]:
df['Lot Area'] = df['Lot Area'].fillna(df['Lot Area'].median())

In [13]:
df['Lot Frontage'] = df['Lot Frontage'].fillna(df['Lot Frontage'].median())

In [14]:
df['SalePrice'] = df['SalePrice'].fillna(df['SalePrice'].median())

In [18]:
def detect_outliers_iqr(df, column):
    """Detects outliers in a dataframe column using the IQR method."""
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    return df[(df[column] < lower_bound) | (df[column] > upper_bound)]

In [17]:
outliers = detect_outliers_iqr(df, 'SalePrice')
print(f"Number of outliers in 'SalePrice': {len(outliers)}")

Number of outliers in 'SalePrice': 137

In [19]:
outliers = detect_outliers_iqr(df, 'Lot Area')
print(f"Number of outliers in 'Lot Area': {len(outliers)}")

Number of outliers in 'Lot Area': 127

In [20]:
outliers = detect_outliers_iqr(df, 'Lot Frontage')
print(f"Number of outliers in 'Lot Frontage': {len(outliers)}")

Number of outliers in 'Lot Frontage': 261